*{
  font-family: "Comic Sans MS", serif;
  background-color: #fca308;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

h2{
  background-color: #42d9db;
  margin-left: auto;
  margin-right: auto;
}

div {
  display: flex;
  flex-direction: column;
}

#inventory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

button {
  font-family: "Comic Sans MS", serif;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #00FF00;
}

b {
  background-color: #00FF00;
}


.productDisplay {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 25px;

  background-color: #42d9db;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 500px;
  height: 500px;

  border: #1b1b1b 3px solid;
}

.productImage {
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}
