<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
</head>
<body>

<div>
  <h1>About Us</h1>

  <p>We at the Fake Store strive to bring users the best experience possible.</p>
  <p>We have products from multiple categories, including electronics,clothing, and jewelry.</p>
  <p>Please send us some feedback by going to the feedback page!</p>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8Dq28TZsZQdDwd3tDPDyV1_8J3eMqzkxt2g&s" alt="Morshu">

</div>

</body>
</html>
